@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	--font-header: 'Merriweather Sans', sans-serif;
	--font-text: 'Open Sans', sans-serif;

	--font-size: 1rem;
	--line-height-factor: 1.5;
	--row-height: calc(var(--font-size) * var(--line-height-factor));

	--initial-websites-rows: 24;
	--initial-websites-height: calc(
		var(--row-height) * var(--initial-websites-rows)
	);

	--content-padding: 2rem;
	--footer-padding: var(--content-padding);
	--logo-size: 8rem;

	--step-number-size: 2rem;

	--features-columns: 1;
	--websites-columns: 1;
	--steps-columns: 1;
}

/* Custom tag styling  */

a {
	color: #d51007;
	text-decoration: none;
}
a:hover {
	color: #ba0d07;
}

body {
	font-size: var(--font-size);
	font-weight: normal;
	line-height: var(--line-height-factor);
	margin: 0;
	padding: 0;
}

body,
button,
input {
	font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}

html {
	scroll-behavior: smooth;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Alignment */

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Base container  */

.container {
	padding: var(--content-padding);
}

.wrapper {
	margin: auto;
	max-width: 992px;
}

.bg-white {
	background-color: #fff;
	color: #212529;
}

.bg-beige {
	background-color: #f2f0ed;
	color: #342827;
}

/* Header */

.header {
	background-attachment: fixed;
	background-color: #0a0809;
	background-image: url(images/pattern.png);
}

.header__logo {
	height: var(--logo-size);
	width: var(--logo-size);
}

.header__name {
	font-family: var(--font-header);
	font-size: 2em;
	font-weight: bold;
}

.header__tagline {
	font-family: var(--font-header);
	font-size: 1.2em;
}

.header__download-icon {
	color: #fff;
	height: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 4rem;
}

.header__download-icon:hover {
	/* color: #ddd; */
	transform: scale(1.2);
}

.header--text {
	color: #fff;
}

.header--row {
	margin-top: 2rem;
}

/* Content */

.content-header {
	margin-bottom: 2rem;
}

.main-description {
	margin: auto;
	margin-bottom: 2rem;
}

.section {
	display: flex;
	flex-wrap: wrap;
}

.section__icon {
	height: 12rem;
	width: 12rem;
}

.section__image {
	display: none;
	width: 0%;
}

.section__description {
	width: 100%;
}

.section__icon--features {
	color: #2f4858;
}

.section__icon-websites {
	color: #334c78;
}

.section__icon--contributing {
	color: #d51007;
}

/* Steps */

.steps {
	counter-reset: step-number;
	display: flex;
	flex-wrap: wrap;
	margin: -1rem;
}

.step {
	margin: 1rem;
	width: calc(100% / var(--steps-columns) - 2rem);
}

.step__title {
	font-size: 1.2rem;
	line-height: var(--step-number-size);
	margin-bottom: 0;
	padding-left: calc(var(--step-number-size) * 1.4);
	position: relative;
}

.step__title::before {
	background-color: #b8422c;
	border-radius: 50%;
	color: #ffffff;
	content: counter(step-number);
	counter-increment: step-number;
	display: block;
	font-size: calc(var(--step-number-size) / 2);
	font-weight: 600;
	height: var(--step-number-size);
	left: 0;
	position: absolute;
	text-align: center;
	width: var(--step-number-size);
}

.step__description {
	margin-top: 1.5rem;
}

/* Features section */

.features {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem;
}

.feature {
	margin: 1rem;
	width: calc(100% / var(--features-columns) - 2rem);
}

.feature__title {
	font-size: 1.2rem;
	margin-bottom: 0;
}

.feature__description {
	margin-top: 0.5rem;
}

.feature__counter {
	font-weight: 600;
}

/* Websites section */

.websites {
	display: flex;
	flex-wrap: wrap;
	height: var(--initial-websites-height);
	margin: 0 -1rem;
	overflow-y: hidden;
	padding: 0 2rem;
}

.websites--more {
	height: auto;
}

.websites__item {
	margin: 0 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% / var(--websites-columns) - 2rem);
}

.websites__button-expand {
	display: block;
	margin-top: 1rem;
}

.websites__button-expand-icon {
	color: #342827;
	height: 3rem;
	width: 3rem;
}

.websites__button-expand-icon:hover {
	transform: scale(1.2);
}

/* Contributing */

.contributions {
	list-style-type: disc;
	margin-bottom: 2rem;
	margin-top: 1rem;
	padding-left: 3rem;
}

/* Footer */

.footer {
	background-attachment: scroll, fixed;
	background-color: #0a0809;
	background-image: linear-gradient(rgba(10, 8, 9, 0), rgba(10, 8, 9, 1)),
		url('./images/pattern.png');
	border-top: 1px solid #141313;
	color: #a3a6a9;
	padding: var(--footer-padding) var(--content-padding);
}

.footer-sections {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem;
	margin-bottom: 2rem;
}

.footer-about {
	margin: 1rem;
	width: 100%;
}

.footer-about__description {
	max-width: 100%;
}

.footer-links {
	margin: 1rem;
	width: 100%;
}

.footer-links__list-item {
	margin-top: 0.25rem;
}

.footer-links__header {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.footer-contacts {
	margin-bottom: 1rem;
}

.footer-contacts__item {
	display: inline;
}

.footer-contacts__item:not(:last-child) {
	margin-right: 1rem;
}

.footer__contact-link {
	color: #a3a6a9;
}

.footer__contact-link:hover {
	color: #cccecf;
}

.footer__contact-icon {
	height: 2rem;
	width: 2rem;
}

@media (min-width: 576px) {
	:root {
		--initial-websites-rows: 12;

		--websites-columns: 2;
	}
}

@media (min-width: 768px) {
	:root {
		--initial-websites-rows: 12;

		--features-columns: 2;
		--websites-columns: 3;

		--step-number-size: 3rem;

		--content-padding: 6rem;
		--footer-padding: 4rem;
		--logo-size: 12rem;
	}

	.header__name {
		font-size: 3rem;
	}

	.header__tagline {
		font-size: 1.5rem;
	}

	.header__description {
		font-size: 1.2rem;
	}

	.main-description {
		font-size: 1.2rem;
		margin-bottom: 4rem;
		text-align: center;
		width: 75%;
	}

	.content-header {
		font-size: 3rem;
		margin-bottom: 4rem;
	}

	.websites {
		padding: 0;
	}

	.footer-sections {
		margin-bottom: 4rem;
	}

	.footer-links {
		width: calc(50% - 2rem);
	}
}

@media (min-width: 992px) {
	.section__image {
		display: initial;
		width: 30%;
	}

	.section__description {
		width: 70%;
	}

	.footer-about {
		width: calc(50% - 2rem);
	}

	.footer-about__description {
		max-width: 65%;
	}

	.footer-links {
		width: calc(25% - 2rem);
	}
}

@media (min-width: 1200px) {
	:root {
		--steps-columns: 3;
	}
}

[hidden] {
	display: none;
}
