a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.logo {
    border-radius: 50%;
}

.container {
    align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.name {
    /* font-style: italic; */
    font-size: 2em;
    font-weight: bold;
    margin-top: 6px;
}

.tagline {
    /* font-style: italic; */
    font-size: 1.2em;
    margin-top: 6px;
}

.badge-container {
    margin-top: 16px;
}

.badge {
    padding: 2px;
}

.badge a {
	text-decoration: none;
}
